﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ClientMain/manager.Master" AutoEventWireup="true" CodeBehind="Invoicing-Table.aspx.cs" Inherits="Fixel.ClientMain.Invoicing_Table" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
                <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Lorax - Bootstrap 4 Admin Dashboard Template</title>
    <!-- Favicon-->
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon"/>
    <!-- Plugins Core Css -->
    <link href="/assets/css/app.min.css" rel="stylesheet"/>
    <link href="/assets/js/bundles/materialize-rtl/materialize-rtl.min.css" rel="stylesheet"/>
    <!-- Custom Css -->
     <script   src="https://code.jquery.com/jquery-3.4.1.js"   integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="  crossorigin="anonymous"></script>

    <link href="/assets/css/style.css" rel="stylesheet"/>
    <!-- You can choose a theme from css/styles instead of get all themes -->
    <link href="/assets/css/styles/all-themes.css" rel="stylesheet" />


    <link href="/assets/js/bundles/materialize-rtl/materialize-rtl.min.css" rel="stylesheet"/>
    <link href="/assets/css/form.min.css" rel="stylesheet"/>
    <!-- Custom Css -->
    <link href="/assets/css/style.css" rel="stylesheet"/>
    <!-- You can choose a theme from css/styles instead of get all themes -->
    <link href="/assets/css/styles/all-themes.css" rel="stylesheet" />



    <!-- Colorpicker Css -->
    <link href="/assets/js/bundles/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css" rel="stylesheet" />
    <!-- Multi Select Css -->
    <link href="/assets/js/bundles/multiselect/css/multi-select.css" rel="stylesheet"/>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="main" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="foter" runat="server">
 <body class="light rtl">
        <asp:Literal ID="ltluesr" runat="server" />
            <section class="content">
        <div class="container-fluid">
                        <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                         <div class="col-md-4">
                            <h2>
                                <strong>חשבוניות</strong> </h2>
                         </div>
                                                       <div class="row">

                          <div class="col-md-4">
                           <button class="dt-button buttons-print" tabindex="0" aria-controls="tableExport" data-toggle="modal" data-target="#gridModal" type="button"><span>חדש</span></button>
                            <asp:Button ID="Treatme"  class="dt-button buttons-print width-per-100 " OnClick="Treatme_Click" runat="server" Text="עדיין לא הגיע חשבונית" />
                               </div>                                             
                            <div class="col-md-4">
                                                         <asp:DropDownList ID="Vendor" runat="server" DataTextField="VendorsName" DataValueField="VendorsID" CssClass="form-group default-select" >
                                                             <asp:ListItem></asp:ListItem>
                                                          </asp:DropDownList>
                              </div>
                                

               
                                <asp:Button ID="performance" class="dt-button buttons-print" OnClick="period" runat="server" Text="הצג" />
                                </div>
                   
       

                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="#" onClick="return false;">Action</a>
                                        </li>
                                        <li>
                                            <a href="#" onClick="return false;">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#" onClick="return false;">Something else here</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table id="tableExport" class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                    <thead>
                                        <tr>
                                            <th>שם ספק</th>
                                            <th>תאריך</th>
                                            <th>סכום</th>
                                            <th>מס' חשבונית</th>
                                            <th>חשבונית</th>

                                            <th>עריכה </th>
                                            <th>מחיקה</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         <asp:Repeater ID="RptProd" runat="server">
                                       <ItemTemplate>
                                        <tr>
                                            <td><%#Eval("VendorsName") %></td>
                                            <td><%#Eval("date") %></td>
                                            <td><%#Eval("Amount") %></td>
                                            <td><%#Eval("InvoicingNamber") %></td>
                                            <td> <a href="/uploads/invoice/<%#Eval("InvoicingBill") %>" target="_blank"><i class="material-icons">picture_as_pdf</i></a> </td>

                                            <td>
                                                
                                                <button type="button" id="m" class="btn tblActnBtn" data-toggle="modal" data-target="#gridModal" onclick="UpdateInvoice(<%#Eval("CustomerID") %>, <%#Eval("InvoicingId")%>)" >
                                               
                                                    <i class="material-icons">mode_edit</i>
                                                </button>
                                                <%--</a>--%>
                                            </td>
                                            <td>

                                                <button type="button" id="de" class="btn tblActnBtn" data-type="confirm" onclick="deledVendors(<%#Eval("InvoicingId") %>)" >


                                                    <i class="material-icons">delete</i>
                                                </a>
                                            </td>
                                        </tr>
                                                                                 </ItemTemplate>
                                     </asp:Repeater>
                                                                            </tbody>
                                    <tfoot>

                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
               
        </div>  
            <script>



                function UpdateInvoice(id, id2) {
                    var Prod = 0;
                    var Classif;
                    var v;
                    $.ajax({
                        type: "GET",
                        url: "/api/Invoicing/" + id + "/" + id2,

                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {

                            Invoicing = JSON.parse(data);
                            $("#InvoicingId").val(Invoicing[0].InvoicingId);
                            $("#VendorsName").val(Invoicing[0].VendorsName);
                            $("#date").val(Invoicing[0].date);
                            $("#Amount").val(Invoicing[0].Amount);
                            $("#InvoicingNamber").val(Invoicing[0].InvoicingNamber);
                            $("#InvoicingBill").val(Invoicing[0].InvoicingBill);


                        },
                        failure: function (errMsg) {
                            alert(errMsg);
                        }
                    });
                }


                //Checks whether an invoice with this carrier number already exists
                $("#InvoicingNamber").on('blur', function () {
                    var number = $("#InvoicingNamber").val();
                    var Name = $("#VendorsName").val();
                    $.ajax({
                        type: "GET",
                        url: "/api/Invoicing/" + us + "/" + number + "/" + Name,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {

                            FourNumber = JSON.stringify(data);
                            if (FourNumber == "true") {
                                var Answer = confirm(" החשבונית כבר קימת במערכת ");
                            }
                            else
                                return false;
                        }

                    })



                });
                function deledVendors(id) {
                    var Answer = confirm("בטוח בכך שברצונך למחוק?");

                    if (Answer === false)
                        return false;
                    $.ajax({
                        type: "Delete",
                        url: "/api/Invoicing/" + id,

                        contentType: "application/json; charset=utf-8",
                        dataType: "json",

                        failure: function (errMsg) {
                            alert(errMsg);
                        }

                    });
                    location.reload();
                }
            </script>
            </div>
                </section>
            </body>

</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="foter2" runat="server">
     <div class="modal fade" id="gridModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalGrid"
                                        aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalGrid">חשבונית</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container-fluid">
                    <div class="row clearfix">
                         <form id="data" method="post" enctype="multipart/form-data">
                             <input type="hidden" name=""
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="header">
                                            <h2>
                                                <strong>חדש</strong> עדכון</h2>
                                            <ul class="header-dropdown m-r--5">
                                                <li class="dropdown">
                                                    <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                                                        role="button" aria-haspopup="true" aria-expanded="false">
                                                        <i class="material-icons">more_vert</i>
                                                    </a>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li>
                                                            <a href="#" onClick="return false;">Action</a>
                                                        </li>
                                                        <li>
                                                            <a href="#" onClick="return false;">Another action</a>
                                                        </li>
                                                        <li>
                                                            <a href="#" onClick="return false;">Something else here</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="body">
                                            <div class="demo-masked-input">
                                                <div class="row clearfix">
                                                  
                                                    <input type="hidden" name="InvoicingId" id="InvoicingId" />
                                                    <div class="col-md-6">
                                                         <b>שם ספק</b>
                                                        <div class="input-group">
                                                          <span class="input-group-addo">
                                                              </span>
                                                            <div class="form-line">
                                                    		<input id="VendorsName"  class="form-control" type="text" name="VendorsName" placeholder="שם ספק" />
                                                            
                                                           </div>
                                                       </div>
                                                  </div>
                                                    <div class="col-md-6">
                                                        <b>תאריך</b>
                                                        <div class="input-group">
                                                               <span class="input-group-addon">
                                                                <i class="material-icons">date_range</i>
                                                            </span>
                                                            <div class="form-line">
                                                            	<input id="date"  class="datepicker form-control" type="text" name="date" placeholder="תאריך הוצאה" />

                                                            </div>
                                                        </div>
                                                    </div>
                                                             
                              
                                                    <div class="col-md-6">
                                                        <b>סכום חשבונית</b>                                                       
                                                             <input id="Amount"  class="form-control select2" type="select" name="Amount" placeholder="0" />
                                                           
                                                            </div>                                                                                                                                                                                                                  
                                                             <div class="col-md-6">
                                                            <b>מספר חשבונית</b>
                                                        <div class="input-group">
                                                          <span class="input-group-addon">
                                                                <i class="material-icons">computer</i>
                                                            </span>
                                                            <div class="form-line">
                                                             <input id="InvoicingNamber" class="form-control select2"  type="text" name="InvoicingNamber" placeholder="מספר חשבונית" />
                                                           
                                                                 </div>
                                                        </div>
                                                 </div>
                                                        <div class="col-md-12">
                                                            <b> חשבונית</b>
                                                        <div class="input-group">
                                                          <span class="input-group-addon">
                                                                <i class="material-icons">computer</i>
                                                            </span>
                                                            <div class="form-line">
                   
                                                                <input id="InvoicingBill" class="form-control select2"  name="InvoicingBill" type="file" />
                                                               
           
                                                           
                                                                 </div>
                                                        </div>
                                                 </div>
                                                  
                                               

                                                </div>
                                                        </div>
                                                  </div>
                          </div>
                                                </div>

                                         <button type="submit"  class="btn-hover color-8" id="shlch"  >עדכון חשבונית</button>
                           

                                                                      
                       </div>

                                            </div>
                                        </div>
                                    </div>
                                            <script>
                                                //Upload a multi-item data form and file by ajax
                                                $(function () {
                                                    $("form#data").submit(function (e) {
                                                        e.preventDefault();
                                                        var formData = new FormData(this);
                                                        var Eid = ($("#InvoicingId").val() == "") ? -1 : $("#InvoicingId").val();
                                                        formData.append("CustomerID", us);
                                                        formData.append("InvoicingId", Eid);
                                                        $.ajax({
                                                            type: "POST",
                                                            url: "/api/Invoicing/" + Eid,
                                                            data: formData,
                                                            cache: false,
                                                            contentType: false,
                                                            processData: false,
                                                            success: function (data) {
                                                                location.reload();
                                                            }
                                                        })

                                                    })
                                                });

                                            </script>
    </div></div>
            <script src="/assets/js/app.min.js"></script>
    <script src="/assets/js/table.min.js"></script>
    <!-- Custom Js -->
    <script src="/assets/js/admin.js"></script>
    <script src="/assets/js/bundles/export-tables/dataTables.buttons.min.js"></script>
    <script src="/assets/js/bundles/export-tables/buttons.flash.min.js"></script>
    <script src="/assets/js/bundles/export-tables/jszip.min.js"></script>
    <script src="/assets/js/bundles/export-tables/pdfmake.min.js"></script>
    <script src="/assets/js/bundles/export-tables/vfs_fonts.js"></script>
    <script src="/assets/js/bundles/export-tables/buttons.html5.min.js"></script>
    <script src="/assets/js/bundles/export-tables/buttons.print.min.js"></script>
    <script src="/assets/js/pages/tables/jquery-datatable.js"></script>       
    <script src="/assets/js/form.min.js"></script>
    <script src="/assets/js/bundles//multiselect/js/jquery.multi-select.js"></script>
    <script src="/assets/js/bundles/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"></script>
    <!-- Custom Js -->
    <script src="/assets/js/pages/forms/advanced-form-elements.js"></script>
        <script src="/assets/js/pages/forms/basic-form-elements.js"></script>
</asp:Content>
