﻿body {
    
}
.Bp{
    background-color: yellow;
    color: red;
    font-size: larger;
    padding: 15px; 
    position: relative;
    text-align:center;
}
.Bal {
    background-color:blanchedalmond;
}
.Ba {
    color: red;
}
#su {
    color: red;
}
#sumta {
    color: red;
}
b {
    font-size: 1.2rem;
    font-weight:900;
}
#su2 {
    color: red;
}

#sumta2 {
    color: red;
}
.BaPoi {
    background-color: aquamarine;
    font-size: larger;
}
#manage {
    font-size:larger;

}
